/*FOR DASHBOARD PAGE*/

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.navbar {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0 0 7px 0 rgba(161, 155, 161, 1);
    -moz-box-shadow: 0 0 7px 0 rgba(161, 155, 161, 1);
    box-shadow: 0 0 7px 0 rgba(161, 155, 161, 1);
}

.navbar-logo {
    margin-left: 30px;
    text-decoration: none;
    color: #777777;
    font-size: 25px;
    font-weight: bold;
}

.bold {
    color: #E10970;
}

.user-profile {
    margin-right: 20px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-profile:hover {
    background-color: rgb(208, 207, 207);
}

.user-profile p {
    padding-left: 10px;
    margin-right: 5px;
    font-size: 14px;
    color: #535050;
    font-weight: bold;

}

#circle {
    width: 45px;
    height: 45px;
    background-color: rgb(228, 201, 236);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #777777;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle p {
    font-size: 18px;
    padding-left: 0px;
    margin-left: 5px;
}

.content {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: flex-start;
}

.map-canvas {

    width: 50%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;

}

.sidebar {
    width: 50%;
    height: calc(100% - 7px);
    background-color: #f7f7f7;
    margin-top: 7px;
    overflow-y: scroll;
}

.fields {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: 1px solid #d1cdcd;

}

.location {
    margin-top: 35px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

.group input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    width: 27vw;
    border: none;
    border-bottom: 1.2px solid #757575;
    background-color: #ffffff;
}

.group input:focus {
    outline: none;
}

.group label {
    color: rgb(125, 117, 117);
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}

.group input:focus ~ label, .group input:valid ~ label {
    top: -20px;
    font-size: 15px;
    color: #5264AE;
}

.bar {
    width: 27vw;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 200px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.4;
}

.group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* Animations */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

#line {
    width: 100%;
    border-top: 1.1px solid #d5d5d5;
}

#dist-title {
    position: relative;
    top: -16px;
    padding-right: 10px;
}

#slidecontainer {
    width: 28vw;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 13px;
    background: #E10970;
    outline: none;
    border-radius: 7px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #d0cdcd;
    cursor: pointer;
    border: 1px solid #777777;
}

#dist-name {
    font-weight: bold;
    font-size: 18px;
    color: rgb(125, 117, 117);
}

#dist-value {
    font-weight: bold;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

#dist {
    font-weight: bold;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

#photos {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    height: 200px;
    width: 170px;
    /* border: 1px solid #777777;  */
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.0);
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #E10970;
    border-radius: 7px;
}

/* layout for phone */
@media only screen and (max-width: 510px) {
    .content {
        flex-direction: column;
    }

    .map-canvas {
        width: 100%;
        height: 40%;
    }

    .sidebar {
        height: 60%;
        width: 100%;
    }

    .group input {
        width: 40vw;
    }

    #slidecontainer {
        width: 45vw;
    }
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

